<section id="porque" class="py-20 bg-white">
<div class="max-w-6xl mx-auto px-6">
<h2 class="text-4xl font-bold text-center mb-12">¿Por qué elegir SV Soluciones de Energia & Seguridad ?</h2>


<div class="grid md:grid-cols-3 gap-8 text-center">
<div>
<h4 class="text-2xl font-bold mb-2">Experiencia</h4>
<p class="text-slate-600">Equipos y personal certificados con amplia experiencia en proyectos.</p>
</div>


<div>
<h4 class="text-2xl font-bold mb-2">Garantía</h4>
<p class="text-slate-600">Soporte técnico y garantías en equipos e instalaciones.</p>
</div>


<div>
<h4 class="text-2xl font-bold mb-2">Soluciones a medida</h4>
<p class="text-slate-600">Proyectos adaptados a tus necesidades y presupuesto.</p>
</div>
</div>
</div>
</section>